/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

ol, ul {
    list-style: none;
}

/* VARIABLES */
:root {
    --color-background-main: rgb(243, 229, 215);
    --color-background-card: rgb(255, 255, 255);
    --color-background-prepinfo: rgb(255, 247, 251);
    --color-font-title: rgb(49, 46, 44);
    --color-font-headings: rgb(133, 70, 50);
    --color-font-text: rgb(95, 86, 77);
    --color-font-prepinfo: rgb(120, 40, 78);
    --color-horizontal-line: rgb(227, 221, 215);
}

/* GLOBAL SETTINGS */
h1,
h2 {
    font-family: "Young Serif", serif;
}

h1 {
    color: var(--color-font-title);
}

h2 {
    color: var(--color-font-headings);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-horizontal-line);
    margin: 1rem 0;
    padding: 0;
}

p,
span,
li,
td {
    font-family: "Outfit", sans-serif;
    color: var(--color-font-text);
}

@media (min-width: 768px) {
    .recipe-card {
        margin-top: 7rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-width: 375px;
    max-width: 750px;
    background: var(--color-background-main);
}

/* MAIN CARD STYLING*/
.recipe-card {
    background: var(--color-background-card);
    padding: 40px;
    border-radius: 30px;
}

/* RECIPE SHOWCASE HEADER */

.prep-infos {
    background: var(--color-background-prepinfo);
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem 0;
}

.prep-infos li span {
    font-weight: 600;
}

ul > li::before {
    content: "•";
    color: var(--color-font-prepinfo);
    margin-right: 1.8rem;
    margin-left: 0.2rem;
}

ul > li {
    padding: 0.5rem 0;
}

.prep-infos > p {
    color: var(--color-font-prepinfo);
    font-weight: 800;
}

img {
    width: 100%;
    border-radius: 20px;
}

/* SECTION INGREDIENTS */
section h2 {
    padding: 1.25rem 0;
    font-weight: 500;
}

/* SECTION INSTRUCTIONS */
ol {
    list-style: decimal;
    padding: 0 1.25rem;
}

 ol > li {
    color: var(--color-font-prepinfo);
    line-height: 150%;
    margin-bottom: 1rem;
 }

 ol .instruction-emphasize {
    font-weight: 600;
 }

 ol p {
    margin-left: 1.25rem;
 }

/* FOOTER */
.attribution {
    font-size: 11px;
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}