/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

ol, ul {
    list-style: none;
}

/* VARIABLES */
:root {
    --color-background-main: rgb(243, 229, 215);
    --color-background-card: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .recipe-card {
        margin-top: 7rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-width: 375px;
    max-width: 750px;
    background: var(--color-background-main);
}

.recipe-card {
    background: var(--color-background-card);
    padding: 40px;
}

h1,
h2 {
    font-family: "Young Serif", serif;
}

p,
span,
li,
td {
    font-family: "Outfit", sans-serif;
}


/* FOOTER */
.attribution {
    font-size: 11px;
    margin-top: 5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}